body{
    font-family: Arial;
    background:#0b1f3a;
    color:white;
    text-align:center;
}

header{
    background:#102e57;
    padding:15px;
}

#reader{
    width:95%;
    margin:auto;
    border:5px solid white;
    border-radius:20px;
}

#result{
    margin-top:15px;
    padding:20px;
    border-radius:20px;
    font-size:20px;
}

.granted{ background:#16a34a; }
.denied{ background:#dc2626; }
.neutral{ background:#334155; }

button, select{
    margin:10px;
    padding:12px;
    font-size:16px;
}
#gateScreen{
    position:fixed;
    top:0; left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.passScreen{ background:#16a34a; }
.failScreen{ background:#dc2626; }

#gateStatus{
    font-size:120px;
    font-weight:bold;
}

#gateName{
    font-size:40px;
    margin-top:20px;
}

.hidden{ display:none; }